<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-input label="Jugador" labelPlacement="stacked" [(ngModel)]="jugador" placeholder="Digite Nombre Jugador"></ion-input>
    <ion-button *ngFor="let item of opciones" expand="block"
      [color]="item.color"
      [disabled]="jugador.length<3"
      (click)="onSelectNivel(item.id)"
      >{{item.name}}</ion-button>

  </ion-content>

</ion-content>
